/* Variables */
:root {
  --blue: #184A8D;
  --light-blue: #A7D5F1;
  --yellow: #F2CB02;
  --orange: #F1880D;
  --light-orange: #F39F07;
  --beige: #C7B68E;
  --black: #1D1D1B;
  --white: #FDFDFD;
  --orange2: #ED6A20;
  --blue2: #4172B8;
  --yellow2: #F9AF22;
  --red: #E73A28;
  --green: #72BC76;

  --primary-font: 'Oswald';
  --secondary-font: 'Roboto';

  --phone: 768px;
}


/* Globals */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-family: var(--secondary-font);
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: var(--primary-font);
  margin: 2.5rem 0;
}

h1 {
  font-size: 3rem;
}

@media(min-width: 768px) {
  h1 {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.container {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 1.5rem;
}

/* heading */
header {
  padding-top: 2rem;
  background-color: var(--orange);
  width: 100%;
  color: var(--white);
  text-align: center;
}

header p {
  font-size: 2rem;
  line-height: 2rem;
}

header p:first-child {
  margin-bottom: 0;
}

@media(min-width: 768px) {}

@media(min-width: 992px) {

  .first-block {
    display: flex;
    justify-content: center;
  }

  .first-block h1 {
    padding: 2rem 0;
  }

  .paragraph {
    padding-left: 1.5rem;
  }
}

@media(min-width: 1200px) {
  header {
    padding-top: 0;
  }

  .first-block {
    display: block;
    max-width: 50%;
  }
}

.button__action {
  max-width: 30rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  padding: 1.5rem;
  margin: 0 auto 2rem auto;
}

.button__action--secondary {
  max-width: 30rem;
  border: .3rem solid var(--orange);
  border-radius: 0.3rem;
  padding: 1.5rem;
  margin: 0 auto 2rem auto;
}

.icon {
  color: var(--green);
  margin-right: 0.8rem;
  font-weight: 700;
  font-size: 2.5rem;
}

.button__action a,
.button__action--secondary a {
  color: var(--black);
  font-family: var(--primary-font);
  font-weight: 700;
  text-transform: uppercase;
}

/* Gridcolums */
.grid-column {
  display: flex;
  flex-direction: column;
}

.header__grid {
  background-color: var(--black);
  padding: 2.5rem;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.header__logo {
  width: 16rem;
}

.networks {
  color: var(--white);
  display: flex;
}

.networks__links::before {
  content: '';
  padding: 2rem;
  display: inline-block;
}

.networks__links[href*="facebook.com"]::before {
  background-image: url('../img/icono_facebook.svg');
}

.networks__links[href*="instagram.com"]::before {
  background-image: url('../img/icono_instagram.svg');
}

.networks__links[href*="twitter.com"]::before {
  background-image: url('../img/icono_twitter.svg');
}

.networks__accesible {
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  display: block;
}

.information {
  display: inline-flex;
  background-color: var(--white);
  color: var(--black);
  margin: 0 -4rem;
  padding: 2rem 0;
  min-width: 120%;
}

.information__container {
  display: flex;
  flex-direction: column;
  min-width: 49%;
}

.information__number {
  font-size: 3rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  margin: 1.5rem 0;
}

.information__text {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: var(--secondary-font);
}

.horizontal-divisor {
  width: 2%;
  max-width: 1.6rem;
  background-color: var(--orange);
  margin-left: 0px;
  min-height: 6rem;
}

@media(min-width: 768px) {

  .networks__links {
    padding: 0 2rem;
  }

  .information {
    min-width: 100%;
  }

  .information__container {
    display: block;
    padding: 1.5rem;
  }

  .information__text {
    font-size: 2.5rem;
  }
}

@media(min-width: 1200px) {

  .grid {
    display: flex;
  }

  .second-block {
    display: grid;
    grid-template-rows: repeat(3, .05fr);
    width: 50%;
  }

  .first {
    grid-row: 2 /3;
  }

  .second-block {
    background-color: var(--black);
  }

  .header__grid {
    margin: 0;
  }

  .information {
    padding: 1rem 0;
  }

  .information__container {
    padding: 1rem 0;
  }

  .information__number {
    font-size: 2.5rem;
  }

  .information__text {
    font-size: 2rem;
  }

  .horizontal-divisor {
    min-height: 4rem;
    max-width: 0.6rem;
  }
}

/* Main */
.first-section {
  background: linear-gradient(to bottom, transparent 50%, transparent 50%, transparent), url('https://img.freepik.com/free-photo/fixing-custom-motorcycle-standing-repair-shop-instruments-equipment-hobbies-unique-jobs_158595-8095.jpg?w=1060&t=st=1687990939~exp=1687991539~hmac=a587d1b3191abf34a67639ce2536d484a31086acf619aab4547546ed73860e42');
  background-position: center, top center;
  background-repeat: no-repeat;
  background-size: 100%, 55rem;
}

@media (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(to left, transparent 50%, var(--white) 50%, var(--white) 100%), url('https://img.freepik.com/free-photo/fixing-custom-motorcycle-standing-repair-shop-instruments-equipment-hobbies-unique-jobs_158595-8095.jpg?w=1060&t=st=1687990939~exp=1687991539~hmac=a587d1b3191abf34a67639ce2536d484a31086acf619aab4547546ed73860e42');
    background-position: center, center right;
    background-repeat: no-repeat;
    background-size: 100%, 70%;
    padding: 3rem 0;
  }
}

@media (min-width: 1200px) {
  .first-section {
    background-image: linear-gradient(to left, transparent 50%, var(--white) 50%, var(--white) 100%), url('https://img.freepik.com/free-photo/fixing-custom-motorcycle-standing-repair-shop-instruments-equipment-hobbies-unique-jobs_158595-8095.jpg?w=1060&t=st=1687990939~exp=1687991539~hmac=a587d1b3191abf34a67639ce2536d484a31086acf619aab4547546ed73860e42');
    background-position: center, center right;
    background-repeat: no-repeat;
    background-size: 100%, 70%;
    padding: 10rem 0;
  }
}

.first-section-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .first-section-grid {
    column-gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
}

@media (min-width: 1200px) {
  .first-section-grid {
    column-gap: 16rem;
  }
}

.text-grid {
  color: var(--black);
  grid-row: 2 / 3;
  padding: 3rem 2rem;
}

@media (min-width: 768px) {
  .text-grid {
    grid-column: 1 / 2;
    padding: 0;
  }
}

.text {
  font-size: 2rem;
  line-height: 2rem;
}

.center {
  text-align: center;
}

.second-section h2 {
  margin-top: 0;
  margin-bottom: 3.5rem;
}

@media (min-width: 768px) {
  .second-section h2 {
    margin: 3.5rem 0;
  }
}

.second-section {
  background-image: linear-gradient(to bottom, transparent 50%, var(--white) 50%, var(--white) 100%), url('../img/man-talking-phone-car.jpg');
  background-position: center, top left;
  background-repeat: no-repeat;
  background-size: 100%, 170%;
}

@media (min-width: 768px) {
  .second-section {
    background-image: linear-gradient(to right, transparent 50%, var(--white) 50%, var(--white) 100%), url('../img/man-talking-phone-car.jpg');
    background-position: center, left center;
    background-repeat: no-repeat;
    background-size: 100%, 72%;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .second-section {
    padding: 3rem 0;
  }
}

.second-section-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .second-section-grid {
    column-gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
}

@media (min-width: 1200px) {
  .second-section-grid {
    column-gap: 16rem;
  }
}

.second-text-grid {
  padding: 4.5rem 2.5rem 2.5rem 2.5rem;
  grid-row: 2 / 3;
}

@media (min-width: 768px) {

  .second-text-grid {
    grid-column: 2 / 3;
    padding: 0;
  }
}

.third-section-grid {
  background-image: linear-gradient(to right, rgba(24, 74, 141, 0.5) 0%, rgba(24, 74, 141, 0.5) 100%), url('../img/500_F_496702879_n3x40fAaGA5Z1Tt7hdmkFRSu8CclLJ9A.jpg');
  background-position: center, top center;
  background-repeat: no-repeat;
  background-size: 100%, 150%;
}

@media (min-width: 768px) {
  .third-section-grid {
    background-image: linear-gradient(to right, rgba(24, 74, 141, 0.5) 50%, rgba(24, 74, 141, 1) 50%, rgba(24, 74, 141, 1) 100%), url('../img/500_F_496702879_n3x40fAaGA5Z1Tt7hdmkFRSu8CclLJ9A.jpg');
    background-position: center, 160% 75%;
    background-size: 100%, 130%;
  }
}

.third-section-grid ul li::before {
  content: "\2022";
  color: var(--orange);
  font-weight: bold;
  display: inline-block;
  width: 2rem;
}

.third-text-grid {
  color: var(--white);
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 3rem 0 0 0;
}

@media (min-width: 768px) {
  .third-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }

  .third-text-grid {
    grid-column: 2 / 3;
  }
}

.third-text-grid h2 {
  text-align: center;
  color: var(--orange);
}

.third-text-footer {
  background-color: var(--orange);
  padding: 2rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .third-text-footer {
    margin-left: -4rem;
  }
}

.third-text-footer span {
  color: var(--white);
  font-size: 2.5rem;
}

.third-text-footer a:last-child {
  margin-top: 1rem;
}

.third-text-footer p {
  margin-top: 0;
}

/* Agreements */
.agreements h2 {
  line-height: 3.5rem;
  padding: 1rem 3rem;
  text-align: center;
}

.agreements p {
  padding: 0 3rem;
  text-align: center;
  margin: 0;
}

.agreement-card h3 {
  margin: 2rem 0;
  font-family: var(--primary-font);
  font-family: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--orange);
  text-transform: uppercase;
}

.agreement-card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.agreement-card__icon {
  width: 8rem;
  padding: 1rem;
  display: flex;
  margin: 0rem auto;
  min-height: 8rem;
}

.w-6 {
  width: 6rem;
}

.w-5 {
  width: 5rem;
}

@media (min-width: 768px) {

  .agreement-card h3 {
    line-height: 3rem;
  }

  .agreements__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */
.testimonials {
  background-color: var(--orange);
  padding: 3rem;
}

.testimonials h2 {
  color: var(--white);
  text-align: center;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

@media (min-width: 768px) {
  .testimonial-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.testimonial-card {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 3rem;
  max-width: 50rem;
  box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
  position: relative;
}

.testimonial-card img {
  border-radius: 50%;
  margin-right: 1.5rem;
}

.testimonial-header {
  display: flex;
}

.testimonial-header h3 {
  margin-top: 0;
}

.testimonial-text {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 4rem;
}

.testimonial-text::before {
  content: '';
  background-image: url('../img/quote-left.svg');
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 14rem;
  left: 30px;
}

.qualification {
  display: flex;
  padding: 1rem 0;
}

.qualification span {
  color: var(--yellow2);
}

/* Footer */
footer {
  padding: 3rem 0;
  background-color: var(--black);
  color: var(--white);
  display: block;
  text-align: center;
  font-weight: 700;

}

footer p {
  margin-bottom: 0;
}

@media (min-width: 768px) {}

footer a>span {
  color: var(--white);
  font-size: 2rem;
  margin-left: 1rem;
}

.footer-grid {
  background-image: linear-gradient(to right, transparent 50%, var(--black) 50%, var(--black) 100%), url('../img/Logo.jpeg');
  background-position: center, 15% center;
  background-size: 100%, 40%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer-grid {
    background-size: 100%, 15%;
    background-position: center, 30% 0%;
    gap: 16rem;
  }
}

@media (min-width: 1200px) {
  .footer-grid {
    background-size: 100%, 10%;
    background-position: center, 25% 0%;
  }
}

.footer-text {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-text>a:nth-child(1) {
  padding-bottom: 1rem;
}

.footer-text>a:nth-child(2) {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .footer-text>a:nth-child(1) {
    padding-left: 4rem;
  }

  .footer-text>a:nth-child(2) {
    padding-left: 4rem;
  }
}

footer .networks {
  width: 80%;
  justify-content: space-around;
}

@media (min-width: 768px) {
  footer .networks {
    justify-content: flex-start;

  }
}